@import "variables/colors";

:local {
	.tables {
		height: 122px;
		white-space: nowrap;
	}

	.item {
		display: inline-block;
		width: auto;
		padding: 0 10px 0 10px;
		height: 100px;
		border: 1px solid;
		text-align: center;
		margin: 10px;
		border-radius: 26px;
	}

	.currentTableParticipants {
		color: $red;
	}

	.participantIcon {
		display: inline;
	}

	.participantIcon:nth-child(6):after {
		content: "\A";
		white-space: pre;
	}
}
